.main {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.profile {
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title, .avatar_bio,  .additionalInfo, .paymentInfo, .actions {
    margin: 1vh 2vw 2vh 1vw;
    width: 90vw;
    border-bottom: 1px solid #4e4e4e;
}

.title {
    margin-bottom: 0;
    height: 6vh;
    font-size: large;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #52765a;
}

.avatar_bio {
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px; 
}

.avatarContainer {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.avatarText {
    margin-bottom: 10px; 
}

.edit-icon {
    margin: 0 0 0 8px;
    cursor: pointer;
}

.avatar, .profileImage {
    border: 1px dashed black;
    border-radius: 25px;
    display: grid;
    place-content: center;
    text-align: center;
    aspect-ratio: 1 / 1; 
    width: 100%; 
    max-width: 180px; 
    background-color: #cadff1;
}

.avatar {
    cursor: pointer;
}


.profileImage {
    object-fit: cover;
}

.bioContainer {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bioText {
    margin-bottom: 10px; 
}

.bio {
    height: 180px;
    width: 100%; 
    resize: none;
    border-radius: 5px;
    background-color: #cadff1;
}

.additionalInfo {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.currency_languageContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 45%;
    margin: 0 10px 10px 0;
}

.paymentInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: none;
}

.paymentInfo .inputContainer {
    width: 90%;
}

.date_cvv {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actions-info-logout{
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
}

.actions-info {
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    border: none;
}

.actions {
    margin-top: 0;
    margin-bottom: 10px;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    border: none;
}

.message {
    margin-bottom: 10px;
    text-align: 'center';
    font-size: 17px;
    width: 50%;
}
.error {
    color: red;
}
.success {
    color: green;
}