.shop {
    margin: 20px auto; 
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    justify-content: center;
    padding: 0 40px;
}

@media (max-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr); 
    padding: 0 20px; 
  }
}
  
@media (max-width: 800px) {
  .product-list {
    grid-template-columns: 1fr; 
    padding: 0 10px; 
  }
}