.Header {
    width: 100%;
    height: 10vh;
    background-color: #efefef;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #4b4b4b;
}

.textLogo {
    font-size: xx-large;
    max-width: fit-content;
    margin-left: 10px;
    color: #000000;
    text-decoration: none;
}

.linkList {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

.linkList li, .linkList li a {
    justify-self: center;
    width: fit-content;
}

.linkList li:hover, .linkList li:focus {
    cursor: pointer;
}

.linkList li:hover a {
    background-color: #eee;
    color: #333;
}

.linkList li a, .search_profile a {
    color: #000000;
    text-decoration: none;
    width: fit-content;
}

.search_profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    justify-self: right;
}

.search_profile * {
    margin: 10px;
}
.search_profile a {
    font-size: 1.3rem;
}

.mobile-header-bars {
    display: none;
    justify-self: left;
}

@media (max-width: 765px) {
    .textLogo, .linkList {
        display: none;
    }
    .mobile-header-bars {
        display: block;
    }
    .Header {
        grid-template-columns: repeat(2, 1fr); 
    }
  }