.inputContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 0 10px 0;
}

.inputLabel {
    font-size: medium;
}

.input {
    background-color: #e5f2ff;
    border-radius: 5px;
    padding: 3px;
    width: 90%;
    outline: none;
}