.errorMessage {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: red;
    width: fit-content;
    max-width: 90%;
    height: auto;
    font-size: 15px;
    padding: 0 5px;
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}