* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; 
}

body {
    min-height: 100vh;
    display: flex;
    background-color: #efefef;
    overflow-y: scroll;
}

#root {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    min-height: 80vh;
    width: 100%;
}